
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-color: #1C1C1C;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }

        .wrapper {

            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
        }

        .container {
            height: 600px;
            width: 450px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 0.3fr 1fr;
            box-shadow: 0px 0px 5px grey;
            transition: all 3s;
        }


        .btns {
            display: grid;
            grid-template-columns: 1fr 0.3fr;
            grid-template-rows: 1fr;
        }

        .left-btns {

            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        .right-btns {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .old-result {
            width: 100%;
            height: 20%;
            border-bottom: 1px solid grey;
            text-align: right;
            opacity: 75%;
            color: wheat;

        }

        input {
            font-size: 80px;
            text-align: right;
            width: 100%;
            height: 80%;
            border: none;
            border-bottom: 1px solid rgb(105, 105, 105);
            cursor: default;
            background-color: inherit;
            color: aliceblue;

        }

        input:focus {
            outline: none;
        }

        input::placeholder {
            color: white;
        }

        .btn {
            margin: 2%;
            border-radius: 50%;
            width: 22%;
            font-size: 2em;
            padding: 0.4em;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;

        }

        .rbtn {
            margin: 5% 0;
            border-radius: 50%;
            font-size: 1.8em;
            padding: 0.8em 1.2em;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
        }

        .equal-btn {
            margin: 5% 0;
            border-radius: 50%;
            font-size: 1.8em;
            padding: 0.8em 1.2em;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
        }

        .special-btn {

            background: #343434;
            color: white;
        }

        .special-btn:hover {
            color: black;
        }

        #minus {
            padding: 0.8em 1.3em;
        }

        .btn:hover,
        .rbtn:hover,
        .equal-btn:hover {
            cursor: pointer;
            background-color: rgb(255, 255, 203);
        }

        .btn:active,
        .rbtn:active {
            transition-duration: 2s;
            transform: scale(0.1);
        }
